@{
    ViewBag.Title = "Plastic Search";
}

    <div class="jumbotron">
        <label class="radio-inline"><input type="radio" name="search_type" checked value="Exact">Exact</label>
        <label class="radio-inline"><input type="radio" name="search_type" value="Ngram">Ngram</label>
        <label class="radio-inline"><input type="radio" name="search_type" value="Fuzzy">Fuzzy</label>

        <p class="lead">Search in files here:</p>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="basic-addon2" id="query">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="search-btn" onclick="search()">Search</button>
            </div>
        </div>

        <div>
            <span id="state"></span>

            <ol class="list-group" id="result-list"></ol>
        </div>
    </div>

@section scripts {
    <script>

        document.getElementById("query").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search-btn").click();
            }
        });
        $(document).ready(() => {
            $('#search-btn').attr('disabled', true);
            $('#search-btn').html('Waiting');
            $('#state').html('preprocess');

            $.ajax({
                url: '/home/isReady',
                method: 'post'
            }).done((duration) => {
                $('#search-btn').attr("disabled", false);
                $('#search-btn').html('Search');
                $('#state').html('Preprocess duration: ' + duration + ' ms');
            });
        });

        function search() {
            const query = $('#query').val();
            const searchType = $("input[name='search_type']:checked").val();

            $('#result-list').html('');
            $('#state').html('searching');

            $.ajax({
                url: '/home/search',
                method: 'post',
                data: {
                    query: query,
                    type: searchType
                }
            }).done((result) => {
                var list = result.result;
                var found = false;

                $.each(list, (index, value) => {
                    found = true;
                    $('#result-list').append('<li class="list-group-item list-group-item-action">' + value + '</li>')
                });

                if (!found) {
                    $('#state').html('search duration: ' + result.time + ' ms. no result found.');
                } else {
                    $('#state').html('search duration: ' + result.time + ' ms. results:');
                }
            });
        }
    </script>
}