@{
    ViewBag.Title = "Plastic Search";
}

<div class="jumbotron">
    <p class="lead">
        <label class="radio-inline" style="margin:0.5%"><input type="radio" name="search_type" checked value="Exact">Exact</label>
        <label class="radio-inline" style="margin:0.5%"><input type="radio" name="search_type" value="Ngram">Ngram</label>
        <label class="radio-inline" style="margin:0.5%"><input type="radio" name="search_type" value="Fuzzy">Fuzzy</label>
    </p>

    <p class="lead">Search in files here:</p>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="basic-addon2" id="query">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="search-btn" onclick="search()">Search</button>
        </div>
    </div>

    <div>
        <span id="state"></span>

        <div class="row">
            <div class="col-4">
                <div class="list-group" id="result-list" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var ready = false;

        document.getElementById("query").addEventListener("keyup", function (event) {
            if (event.keyCode === 13 && ready) {
                event.preventDefault();
                document.getElementById("search-btn").click();
            }
        });
        $(document).ready(() => {
            $('#search-btn').attr('disabled', true);
            $('#search-btn').html('Waiting');
            $('#state').html('preprocess');

            $.ajax({
                url: '/home/isReady',
                method: 'post'
            }).done((duration) => {
                ready = true;
                $('#search-btn').attr("disabled", false);
                $('#search-btn').html('Search');
                $('#state').html('Preprocess duration: ' + duration + ' ms');
            });
        });

        function emptyLists() {
            $('#result-list').html('');
            $('#nav-tabContent').html('');
        }

        function search() {
            const query = $('#query').val();
            const searchType = $("input[name='search_type']:checked").val();

            emptyLists();

            $('#state').html('searching');

            $.ajax({
                url: '/home/search',
                method: 'post',
                data: {
                    query: query,
                    type: searchType
                }
            }).done((result) => {
                var list = result.Result;
                var found = false;

                $.each(list, (index, value) => {
                    found = true;
                    $('#result-list').append(
                        '<a class="list-group-item list-group-item-action" id="list-' + index + '-list" data-toggle="list" href="#list-' + index + '" role="tab" aria-controls="' + index + '">' + value.fileName + '</a>'
                    );
                    $('#nav-tabContent').append(
                        '<div class="tab-pane fade" id="list-' + index + '" role="tabpanel" aria-labelledby="#list-' + index + '"><p>' + value.text + '</p></div>'
                    );
                });

                if (!found) {
                    $('#state').html('search duration: ' + result.Time + ' ms. no result found.');
                } else {
                    $('#state').html('search duration: ' + result.Time + ' ms. results:');
                }
            });
        }
    </script>
}